/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2017, 12:27:07 PM
    Author     : Ravindu
*/

.button1 {
  -fx-background-color: #f4511e;
  -fx-text-align: center;
  -fx-font-size: 20px;
  -fx-cursor: hand;
  -fx-margin: 5px;
}

.button1:hover {
    -fx-font-size: 22px    
}

.cardpane{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}